/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.width_ {
  width: 100%;
}

.card {
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.shadow {
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.ng-leave {
  display: none;
}

.iconDefaultDimensions {
  height: 80px;
  width: 80px;
}
.barIcon .navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
